// Quantum Script Extension HTTP
// Copyright (c) 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/HTTP/Library.rh>
#include <XYO/QuantumScript.Extension/HTTP/Copyright.rh>
#include <XYO/QuantumScript.Extension/HTTP/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_HTTP,"quantum-script--http.dll","Quantum Script Extension HTTP")
